/* Admin-only styles - here for now. */
.editor-styles-wrapper .wp-block[data-type="acf/mai-accordion-item"] {
	margin-bottom: var(--row-gap);
}

.editor-styles-wrapper .wp-block[data-type="acf/mai-accordion-item"] .mai-accordion-item {
	margin-bottom: 0;
}

.editor-styles-wrapper .wp-block[data-type="acf/mai-accordion-item"] + .wp-block[data-type="acf/mai-accordion-item"] {
	margin-top: 0;
}
/* Front end styles. */

.mai-accordion {
	margin-bottom: var(--spacing-md, 24px);
	border: var(--border, 1px solid rgba(10, 20, 30, 0.5));
}

.mai-accordion-item {
	background-color: var(--color-white, #fff);
	margin: 0 0 var(--row-gap);
	padding: 0;
	border: var(--border, 1px solid rgba(10, 20, 30, 0.5));
	box-shadow: var(--shadow);
}

 /* Hide border. */
.mai-accordion[style*="--row-gap:0"] .mai-accordion-item + .mai-accordion-item {
	margin-top: -1px;
}

.mai-accordion-item:last-child {
	--row-gap: 0;
}

.mai-accordion-summary {
	margin: 0;
	padding: var(--spacing-xs, 6px) var(--spacing-md, 24px);
	font-family: var(--heading-font-family, var(--heading-font));
	font-size: 1rem;
	font-weight: var(--heading-font-weight, normal);
	letter-spacing: var(--heading-letter-spacing, normal);
}

.mai-accordion-summary:hover,
.mai-accordion-summary:focus {
	cursor: pointer;
}

.mai-accordion-item[open] .mai-accordion-summary {
	border-bottom: var(--border, 1px solid rgba(10, 20, 30, 0.5));
}

.mai-accordion-item[open] .mai-accordion-summary ~ * {
	-webkit-animation: maiAccordion 0.3s ease-in-out;
	animation: maiAccordion 0.3s ease-in-out;
}

@-webkit-keyframes maiAccordion {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes maiAccordion {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.mai-accordion-content {
	padding: var(--spacing-md, 24px);
}
