.mai-accordion {
	--icon-plus: url( 'data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M376 232H216V72c0-4.42-3.58-8-8-8h-32c-4.42 0-8 3.58-8 8v160H8c-4.42 0-8 3.58-8 8v32c0 4.42 3.58 8 8 8h160v160c0 4.42 3.58 8 8 8h32c4.42 0 8-3.58 8-8V280h160c4.42 0 8-3.58 8-8v-32c0-4.42-3.58-8-8-8z"/></svg>' );
	--icon-minus: url( 'data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M376 232H8c-4.42 0-8 3.58-8 8v32c0 4.42 3.58 8 8 8h368c4.42 0 8-3.58 8-8v-32c0-4.42-3.58-8-8-8z"/></svg>' );
	margin-bottom: var(--accordion-margin-bottom, var(--spacing-md));
}

.mai-accordion-item {
	margin: 0 0 var(--row-gap);
	padding: 0;
	background: var(--accordion-item-background, var(--color-white));
	border: var(--accordion-item-border, var(--border));
	box-shadow: var(--accordion-item-box-shadow, 0);
}

.mai-accordion-item:last-child {
	margin-bottom: 0;
}

.mai-accordion[style*="--row-gap:0"] .mai-accordion-item + .mai-accordion-item {
	border-top: 0;
}

.mai-accordion-summary {
	position: relative;
	z-index: 1;
	display: flex;
	margin: 0;
	padding: var(--accordion-summary-padding, var(--spacing-xs) var(--spacing-md));
	font-weight: var(--accordion-summary-font-weight, var(--heading-font-weight, normal));
	font-size: var(--accordion-summary-font-size, 1rem);
	font-family: var(--accordion-summary-font-family, var(--heading-font-family));
	letter-spacing: var(--accordion-summary-letter-spacing, var(--heading-letter-spacing, normal));
}

.mai-accordion-summary::marker {
	content: "";
}

.mai-accordion-summary::after {
	width: 1em;
	height: 1em;
	margin-top: var(--spacing-xxs);
	margin-left: auto;
	background: currentColor;
	-webkit-mask-image: var(--accordion-icon, var(--icon-plus));
	mask-image: var(--accordion-icon, var(--icon-plus));
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	mask-position: center;
	content: "";
}

.mai-accordion-summary:hover,
.mai-accordion-summary:focus {
	cursor: pointer;
}

/* Not for :focus */
.mai-accordion-summary:hover {
	color: var(--color-link);
}

.mai-accordion-item[open] {
	--accordion-icon: var(--accordion-icon-open, var(--icon-minus));
}

.mai-accordion-item[open] .mai-accordion-summary ~ * {
	-webkit-animation: mai-accordion 0.3s ease-in-out;
	animation: mai-accordion 0.3s ease-in-out;
}

.mai-accordion-title {
	margin-right: var(--spacing-sm);
}

@-webkit-keyframes mai-accordion {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes mai-accordion {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.mai-accordion-content {
	padding: var(--accordion-content-padding, var(--spacing-md));
	border-top: var(--accordion-item-border, var(--border));
}
